
html,body{
    background:url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/escheresque.png");
}

#map {
    height: 500px;
    width: 100%;
 }

.search {
    padding-bottom: 10px;
}

.four {
    background-color: white;
    margin-top: 50px;
}

.five {
    background-color: white;
    padding-top: 50px;
}

.six {
    background-color: white;
    padding-top: 50px;
}

.sev {
    margin-bottom: 50px;
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
